{% extends 'api_rest_babord/base.html' %}

{% block contenu %}
{% load static %}
<div class="container-fluid">
    <h1> Bienvenus sur votre page de gestion {{ user.utilisateur.groupe.libelle }}</h1>
    <h3>
        Vos concerts : 
    </h3>
    {% if concerts %}
    <div id="concertCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for concert in concerts %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="card mx-auto" style="width: 50%;">
                    <div class="card-header">
                        <h5 class="card-title text-center">
                            {{ concert.intitule }}
                            {% if concert.valider %}
                            <span class="badge rounded-pill bg-success">Valider</span>
                            {% else %}
                            <span class="badge rounded-pill bg-secondary">En attente</span>
                            {% endif %}
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ concert.date_debut }}</p>
                        <p class="card-text">{{ concert.lieu }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#concertCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#concertCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% else %}
    <p>Vous n'avez pas encore de concert</p>
    {% endif %}
</div>
{% endblock %}