{% extends 'api_rest_babord/base.html' %}
{% block title %}
    Mon application DJANGO
{% endblock %}
{% block contenu %}
    <div class="align-center col-8 offset-2">
        <p class="lead mb-3 ml-0">S'inscrire</p>
        <hr/>
        <form method="POST" action="{% url 'register' %}" autocomplete='off'>
            {% csrf_token %}
            <div class="form-group mb-3">

                <label>Identifiant</label>
                <input class="form-control" type="text" name="username" placeholder="Utilisateur">
                {% if error.username %}
                    <div class="text-danger">Cet identifiant est déjà utilisé.</div>
                {% endif %}
                
                <label>Nom du groupe</label>
                <input class="form-control" type="text" name="group_name" placeholder="Nom du groupe">
                {% if error.group_name %}
                    <div class="text-danger">Ce nom de groupe est déjà utilisé.</div>
                {% endif %}
                
                <label>Mail</label>
                <input class="form-control" type="mail" name="mail" placeholder="Email">
                {% if error.email %}
                    <div class="text-danger">Cet email est déjà utilisé.</div>
                {% endif %}

                <label>Mot de Passe</label>
                <input class="form-control" type="password" name="password" placeholder="Mot de passe">
                
                <label>Jeton d'accées</label>
                <input class="form-control" type="text" name="token" placeholder="Jeton">
                
            </div>
            <button type="submit" class="btn btn-success mt-2">S'inscrire</button>
        </form>
    </div>
{% endblock %}