{% extends 'api_rest_babord/base.html' %}

{% block title %}
Babord project
{% endblock %}

{% block menu %}
    <div class="container mt-5">
        <h1 class="display-4 text-center">{{ titremenu }}</h1>
    </div>
{% endblock %}

{% block contenu %}
<div class="container mb-5">
    <h2 class="mb-4">
        {{ album.libelle }} 
        {% if album.valider %}   
            <span class="badge rounded-pill bg-success">Valider</span>  
        {% else %}  
            <span class="badge rounded-pill bg-secondary">En attente</span>  
        {% endif%}
    </h2>
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title">Détails sur l'album :</h5>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item">Date de sortie : {{ album.date_sortie }}</li>
                <li class="list-group-item">Description : {{ album.description }}</li>
                <li class="list-group-item">lieu : {{ album.lieu }}</li>
            </ul>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-3">

    </div>
</div>
{% endblock %}