{% extends 'api_rest_babord/base.html' %}

{% block contenu %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="text-center mb-4">Vous êtes sur le point de supprimer un élément !</h2>
                    <p class="text-danger text-center h4">{{ titre_delete }}</p>
                    
                    <div class="d-flex justify-content-center mt-4">
                        <form action="" method="post" class="me-2">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Oui</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
